.form-good{
  color:#00CC00;
}

.form-bad{
  color: #CC0000;
}

.mouse-cursor-pointer{
  cursor:pointer;
}

.mouse-cursor-default{
    cursor: default;
}

.login-wrapper {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.input-group{
    margin-bottom:5px;
    width:100%;
}

.btn-login, .btn-register{
    width:100%;
}

.login-page {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.navbar-brand {
 padding:5px; 
}
.logo-dashboard{
  max-height:40px;
}

.whitebox{
   position: relative;
  z-index: 1;
  background: #FFFFFF;
  padding: 25px;
  margin-bottom:30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.folders-box, .passwords-box{
    text-align: center;
}


.form .register-form {
  display: none;
}

.popover-title {
  color: #CC0000;
}
#folders{
    padding: 0;
    padding: 10px;
}

.folder{
    list-style-type: none;
    text-align: left;
    padding: 3px;
    padding-left: 5px;
}

.folder.active{
    background-color: #333333;
    color: white;
}

.folder:hover{
    //color: white; 
    background-color: #b7b7b7;
}

#password-content{
    border-bottom: 1px solid #515D68;
  }